:root {
  --clr-primary: #165dca;
  --clr-secondary: #134694;
  --clr-default-hover: #2c69c5;
  --clr-text: #000;
  --clr-secondary-text: #fff;
  --clr-accept: #70ff88;
  --clr-accept-hover: #9efdae;
  --clr-denied: #ff0000;
  --clr-denied-hover: #fa4f4f;
  --clr-highlight: #b6a512;
  --clr-disabled: #ffffff50;
  --clr-scrollbar: #ffffff80;
  --clr-scrollbar-hover: #ffffffb0;
  --clr-scrollbar-background: #000;
  --clr-overlay-background: #ffffffab;
  --clr-active-tag: #9ae7ff;
}
