* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, system-ui, -apple-system;
}

body,
html {
  background-color: var(--clr-primary);
  color: var(--clr-secondary-text);
}

input {
  background-color: var(--clr-secondary-text);
  padding: 10px 20px;
  border: transparent;
  border-radius: 5px;
}

button {
  color: var(--clr-secondary-text);
  padding: 8px 15px;
  border: transparent;
  border-radius: 4px;
}

hr {
  color: var(--clr-secondary-text);
  min-width: 20vw;
  margin: 10px 0 20px 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #ffffff48;
  border-radius: 20px;
}
