.u-row-container {
  display: flex;
}

.u-column-container {
  display: flex;
  flex-direction: column;
}

.u-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-fit-content {
  width: fit-content;
  height: fit-content;
}

.u-gap {
  gap: 10px;
}

.u-space-around {
  display: flex;
  justify-content: space-around;
}

.u-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-text-center {
  text-align: center;
}

.u-text-justify {
  display: block;
  text-align: justify;
}

.u-flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.u-self-center {
  display: flex;
  align-self: center;
}

.u-all-parent {
  height: 100%;
  width: 100%;
}

.u-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-vertical-center {
  display: flex;
  align-items: center;
}

.u-margin {
  margin: 20px;
}

.u-title {
  font-size: clamp(1.5rem, 10vw, 3rem);
}

.u-border-radius {
  border-radius: 15px;
}

.u-padding {
  padding: 10px;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-justify-around {
  display: flex;
  justify-content: space-around;
}

.u-mouse-over {
  cursor: pointer;
}

.u-full-width {
  width: 100%;
}
