.u-row-container {
  display: flex;
}

.u-column-container {
  display: flex;
  flex-direction: column;
}

.u-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.u-space-between-container {
  display: flex;
  justify-content: space-between;
}

.u-space-around-container {
  display: flex;
  justify-content: space-around;
}

.u-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.u-text-center {
  text-align: center;
}

.u-flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.u-self-center {
  display: flex;
  align-self: center;
}

.u-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-margin {
  margin: 20px;
}

.u-title {
  font-size: clamp(1.5rem, 10vw, 3rem);
}

.u-border-radius {
  border-radius: 15px;
}

.u-padding {
  padding: 10px;
}

.u-overflow-hidden {
  overflow: hidden;
}
