.u-main-img {
  display: none;
}

.u-title {
  text-align: center;
}

.u-mobile__container {
  flex-direction: column;
}
.u-mobile__back-button {
  display: block;
}

.u-mobile__tags-container {
  width: 95vw;
  overflow-y: hidden;
  margin: 40px 0;
}

.u-mobile__none {
  display: none;
}
