.c-card {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.c-card__aside {
  display: flex;
  justify-content: center;
}

.c-card__img {
  width: 100%;
  min-height: 300px;
  border-radius: 15px 15px 0 0;
}

.c-card__main-content {
  margin: 10px;
  gap: 10px;
  text-align: center;
}
