.c-site-header__logo {
  margin-left: 10px;
}

#c-site-header__mobile-button {
  display: block;
}

.c-site-header__search-input {
  width: 53vw;
}

.c-site-header__buttons-container {
  display: none;
}

#c-site-header__mobile-menu {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: var(--clr-overlay-background);
  top: 50%;
  left: 50%;
  gap: 10px;
  flex-direction: column;
  transform: scale(0);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  transition: transform 500ms;
}

.c-site-header__register-button,
.c-site-header__login-button {
  width: 100%;
  min-height: 100px;
  margin: 0;
}
