.c-site-header {
  display: flex;
  background-color: #134592;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.c-site-header__logo {
  margin-right: 40px;
}

.c-site-header__search-input {
  padding: 8px;
  border: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.c-site-header_search-button {
  background-color: #165dca;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: background-color 500ms ease-in-out;
}

.c-site-header_search-button:hover {
  background-color: #326dc5;
}

.c-site-header__register-button {
  background-color: #2bcb3b;

  cursor: pointer;

  transition: background-color 500ms ease-in-out;
}
.c-site-header__register-button:hover {
  background-color: #58ce64;
}
.c-site-header__login-button {
  background-color: #165dca;
  margin-left: 10px;
  cursor: pointer;

  transition: background-color 500ms ease-in-out;
}

.c-site-header__login-button:hover {
  background-color: #326dc5;
}
