section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#c-searching-container{
    display:flex;
    flex-direction: column;
    background-color: black;
    height: 1000px;
    width: 1200px;
    
}

#searching_result_container{
    background-color: green;
    height: 1000px;
}

#c-searching-container_label{
    background-color: white;
    color: black;
    border-radius: 25px;
    margin-bottom: 2px;
    padding: 6px;
}


#teste{
    background-color: white;
    color: black;
    width: 20vw;
    height: 20vw;
}