#main-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    
}

label{
    background-color: white;
    color: black;
    
} 

.container{
    display: flex;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    padding: 5px;
    max-width: 250px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container span{
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

