.u-row-container {
  display: flex;
}

.u-column-container {
  display: flex;
  flex-direction: column;
}

.u-center {
  align-self: center;
}

.u-margin {
  margin: 10px;
}

.u-highlight-color {
  color: #e2b82e;
}

.u-overflow-hidden {
  overflow: hidden;
}
