.c-card {
  display: flex;
  position: relative;
  color: #000;
  min-height: 200px;
  min-width: 300px;
  overflow: hidden;
}

.c-card__aside {
  display: flex;
  justify-content: flex-start;
}

.c-card__img {
  border-radius: 15px 0 0 15px;
}

.c-card__title {
  font-size: clamp(0.5rem, 1rem, 1.5rem);
}

.c-card__text-input {
  resize: none;
  font-size: clamp(0.2rem, 5rem, 1rem);
  text-transform: bold;
  min-height: 150px;
}

.c-card__main-content {
  display: block;
  margin: 10px auto;
}

.c-card__text {
  overflow-wrap: break-word;
}

.c-card__rate-container {
  margin: auto 0 auto auto;
}

.c-card__icons{
  width:3.5rem;
  height:3.5rem;
}
