.c-card {
  display: flex;
  position: relative;
  color: #000;
  max-height: fit-content;
  min-height: 200px;
  min-width: 300px;
  overflow-y: hidden;
}

.c-card__aside {
  display: flex;
  justify-content: flex-start;
}

.c-card__img {
  border-radius: 15px 0 0 15px;
}

.c-card__title {
  font-size: clamp(0.5rem, 1rem, 1.5rem);
}

.c-card__main-content {
  display: block;
  margin: 10px auto;
}

.c-card__rate-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
