.c-estabilishment-section__header {
  position: relative;
  background-image: url("../../imgs/happycafeteria.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.c-estabilishment-section__photo-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-overlay-background);
  backdrop-filter: blur(10px);
  border-top-right-radius: 15px;
  width: 25%;
  top: 0;
  right: 0;
  bottom: 0;
}

#c-description-container {
  height: 27px;
  overflow-y: hidden;
}

#c-description-container.show {
  height: 100px;
  overflow-y: visible;
}
