.c-site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.c-site-header__logo {
  margin-left: 30px;
}

.c-site-header__search-input {
  padding: 8px;
  min-width: 25vw;
  border: transparent;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.c-site-header_search-button {
  cursor: pointer;
  padding: 8px;
  border: transparent;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: background-color 500ms ease-in-out;
}

#c-site-header__mobile-menu {
  display: none;
}

.c-site-header__register-button {
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}

.c-site-header__login-button {
  margin-left: 10px;
  cursor: pointer;

  transition: background-color 500ms ease-in-out;
}

#c-site-header__mobile-button {
  display: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
