.c-modal {
  z-index: 3;

  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;

  top: 50%;
  left: 50%;

  transform: scale(0);
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 8px;

  transition: transform 200ms ease-in-out;
}

.c-modal.u-visible {
  transform: scale(1) translate(-50%, -50%);
}

.c-modal::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.c-modal::-webkit-scrollbar:hover {
  background-color: var(--clr-scrollbar-background);
}

.c-modal::-webkit-scrollbar-thumb {
  background-color: var(--clr-scrollbar);
  border-radius: 15px;
}

.c-modal::-webkit-scrollbar-thumb {
  background-color: var(--clr-scrollbar-hover);
}

.c-modal__input {
  align-self: flex-start;
  min-width: 20vw;
  margin-bottom: 20px;
}

.c-modal__tags-container {
  position: relative;
}

#c-modal__add-new-tag {
  position: absolute;
  font-size: clamp(0.5rem, 2rem, 3.5rem);
  border-radius: 50%;
  right: 5px;
  bottom: 5px;
}

.c-modal__password-container {
  position: relative;
}

.c-modal__toggle-password {
  position: absolute;
  right: 5px;
  bottom: 30px;
  color: var(--clr-text);
  cursor: pointer;
}

.c-modal__password-container {
  position: relative;
}

.c-modal__toggle-password {
  position: absolute;
  right: 5px;
  bottom: 30px;
  color: var(--clr-text);
  cursor: pointer;
}

.c-modal__button {
  cursor: pointer;
  color: #000;
  width: 150px;
  padding: 10px;
  margin: 30px 10px;
  border-radius: 30px;
}

.c-modal__link {
  cursor: pointer;
}

.c-modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.c-modal__select,
.c-modal__date {
  align-self: center;
  padding: 8px 15px;
  border: transparent;
  margin: 10px;
  border-radius: 15px;
}

.c-modal__error-field-container {
  height: 0;
  overflow-y: hidden;
}

.c-modal__error-field-container.u-visible {
  height: fit-content;
  overflow-y: visible;
}

.c-modal__error-field {
  min-width: 50vw;
  text-align: center;
  resize: none;
  font-size: clamp(1rem, 1.2rem, 2rem);
  padding: 50px 0;
  overflow: hidden;
  border: transparent;
  border-radius: 15px;
}

#overlay {
  z-index: 2;
  background-color: #ffffff5f;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  backdrop-filter: blur(10px);
  pointer-events: none;

  transition: all 200ms ease-in-out;
}

#overlay.u-visible {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.c-modal__input.u-input-correct {
  background-color: var(--clr-accept);
  transition: background-color 500ms ease-in-out;
}

.c-modal__input.u-input-error {
  background-color: var(--clr-denied);
  animation: bounce 150ms alternate;
  transition: background-color 500ms ease-in-out;
}
