#c-searching-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
}
#c-searching-container__label{
    background-color: white;
    color: black;
    border-radius: 25px;
    margin-bottom: 2px;
    padding: 6px;
}
#c-searching-container__result{
    text-align: center;
    background-color: #134592;
    width: 80vw;
    border-radius: 10px;
}
