.c-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.c-slider__card {
  width: 90vh;
}

.c-slider__button {
  font-size: 4rem;
  cursor: pointer;
}

.c-slider__button:hover {
  animation: forward 700ms alternate infinite;
}
