#c-main-tags-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 10px;
    padding: 6px;
}
.c-main-tags-container__label-container{
    /* display: flex;
    flex-direction: column; */
    max-width: 350px;
    /* background-color: black; */
    align-items: center;
}
.c-main-tags-container__tags-container{
    /* display: flex; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    background-color: #0d336d;
    margin: 5px;
    padding-bottom: 20px;
    max-width: 270px;
    border-radius: 5px;
}
.tag{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

@media (max-width: 500px){
    #c-main-tags-container{

        width: 80vw;
        margin: 10px;
        padding: 6px;
    }
    .c-main-tags-container__tags-container{
        background-color: #0d336d;
        margin: 5px;
        padding-bottom: 20px;
        max-width: 170px;
        border-radius: 5px;
    }

}