#c-main-tags-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 10px;
    padding: 6px;
}
.c-main-tags-container__label-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: black;
    align-items: center;
}
.c-main-tags-container__tags-container{
    display: flex;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    padding: 5px;
    max-width: 270px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.tag{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

